:root{
    --light-coral: rgb(255, 117, 119);
    --shallow-taupe: rgb(241, 212, 212);
    --powder-blue: rgb(181, 214, 214);
    --great:rgb(184, 9, 207);
    --good:rgb(86, 115, 248);
    --average: rgb(253, 215, 75);
    --bad: rgb(253, 66, 100);
    --awful: rgb(58, 58, 68);
    --forgor: rgb(212, 212, 212);
}

*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--powder-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height:57.2rem;
    width: 42rem;
    background-color: var(--shallow-taupe);
    box-shadow: 0.5rem 0.5rem 0.5rem #98b4b4;
}

.header{
    box-sizing: border-box;
    width: 100%;
    height: 12rem;
    background-color: var(--light-coral);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2rem;
    font-size: 200%;
}

.days{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    line-height: 2rem ;
}

.days div{
    width: calc(100%/7);
    height:100%;
    text-align: center;
    line-height: calc(2);
}

.dates{
    width: 100%;
    height: 43.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: start;
}

.dates div{
    width: calc(100%/7);
    height: calc(100%/6);
    text-align: center;
    line-height: calc(43.2rem/6);
    background-color: var(--shallow-taupe);
}

.dates div:hover{
    transition: background-color 0.3s;
    background-color: #cfb6b6;
}

.legend{
    height: 12rem;
    width: 4.75rem;
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 0.5rem 0.5rem 0.5rem #98b4b4;
}

.legend div{
    width: 100%;
    line-height: 2rem;
}

.great{
    background-color: var(--great)
}

.great div:hover{

}

.legend{
    color: white;
}

.good{
    background-color: var(--good);
}

.average{
    background-color:var(--average);
    color: black;
}

.bad{
    background-color: var(--bad);
}

.awful{
    background-color:  var(--awful);
}

.forgor{
    background-color: var(--forgor);
    color: black;
}