:root{
    --light-coral: rgba(255, 117, 119,1);
    --shallow-taupe: rgba(241, 212, 212,1);
    --powder-blue: rgba(181, 214, 214,1);
    --great:rgba(184, 9, 207,1);
    --good:rgba(86, 115, 248,1);
    --average:rgba(253, 215, 75,1);
    --bad: rgba(253, 66, 100,1);
    --awful:rgba(58, 58, 68,1);
    --forgor: rgba(212, 212, 212,1);
    --straw: rgba(219, 208, 83,1);
}

*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    user-select: none;
}

body{
    background-color: var(--powder-blue);
    display:flex;
    align-items: center;
    justify-content: center;
}

.container{
    height:57.2rem;
    width: 42rem;
    background-color: var(--shallow-taupe);
    box-shadow: 0.5rem 0.5rem 0.5rem #98b4b4;
}

.header{
    box-sizing: border-box;
    width: 100%;
    height: 12rem;
    background-color: var(--light-coral);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2rem;
    font-size: 200%;
}

.header span{
    user-select: none;
    cursor:pointer;
}

.days{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    line-height: 2rem ;
}

.days div{
    width: calc(100%/7);
    height:100%;
    text-align: center;
    line-height: calc(2);
}

.dates{
    width: 100%;
    height: 43.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: start;
}

.dates div{
    width: calc(100%/7);
    height: calc(100%/6);
    text-align: center;
    line-height: calc(43.2rem/6);
    transition: background-color 0.2s, opacity 0.2s ease-in-out;
}

.dates div:hover{
    opacity: 0.7;
    cursor: pointer;
}

.dates div:hover .notes{
    background-color: black;
}

.legend{
    height: 12rem;
    width: 4.75rem;   
    margin-left: 3rem; 
    text-align: center;
    box-shadow: 0.5rem 0.5rem 0.5rem #98b4b4;
}

.legend div{
    width: 100%;
    line-height: 2rem;
}

.great{
    background-color: var(--great)
}


.legend{
    color: white;
}

.good{
    background-color: var(--good);
}

.average{
    background-color:var(--average);
    color: black;
}

.bad{
    background-color: var(--bad);
}

.awful{
    background-color:  var(--awful);
}

.forgor{
    background-color: var(--forgor);
    color: black;
}

.notes{
    margin-left: 3rem;
    height: 20rem;
    width: 20rem;
    background-color: var(--straw);
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    padding: 1rem;
    box-sizing: border-box;

}

.graph{
    margin-right: 5rem;
    height: 40rem;
    width: 30rem;
    background-color: pink;
    display: none;
}

.pie{
    height: 20rem;
    width: 20rem;
    background-color: red;
    border-radius: 100%;
}
